.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 16px;
    font-weight: 400;

}

@media screen and (max-width: 768px) {
    .rodape {
        
        padding: 1em;
        p {
            display: none;
        }
        img {
            width: 80px;
        }
    }
}