.estados {

    margin: 0 3em;

    &__regioes {
        display: flex;
        justify-content: center;
    }

    &__filtros {
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1em;

        h1 {
            color: var(--cor-texto);
            font-size: 30px;
        }

        input {
            width: 300px;
        }

        input::placeholder {
            background-image: url('../../public/icons/lupa.png');
            background-repeat: no-repeat;
            background-position: center right;
            background-size: 19px;
        }
    }
 
    h2 {
        font-size: 20px;
    }


    &__botao {
       
        text-align: center;
        margin-bottom: 3em;

        button {
            width: 350px;
            height: 40px;
            font-size: 20px;
            border-radius: 6px;
        }
    }
}

@media screen and (max-width: 768px) {
    .estados {

        margin: 0;
    
        &__filtros {
            display: flex;
            flex-direction: column;
            margin-top: 1em;
    
            h1 {
                font-size: 20px;
            }

            input {
                width: 250px;
            }
        }
     
        h2 {
            font-size: 18px;
        }

        &__botao {
    
            button {
                width: 250px;
                height: 40px;
                font-size: 18px;
            }
        }
    }
}