.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 1em 8em 1em 7em;
    align-items: center;

    &__links {

        a {
            text-decoration: none;
            color: var(--cor-texto);
            margin: 0 3em;
            font-size: 20px;
        }

        a:hover {
            font-weight: 700;
            color: var(--azul);
        }
    }

    &__botao {

        button {
            width: 140px;
            height: 40px;
            font-size: 20px;
            border-radius: 6px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .cabecalho {

        padding: 1em 1em 1em 1em;

        &__links {
            display: none;
        }
    }
}


@media screen and (max-width: 768px) {
    .cabecalho {

        padding: 1em;

        &__logo {
            img {
                width: 120px;
            }
        }

        &__links {
            display: none;
        }

        &__botao {

            button {
                width: 100px;
                height: 30px;
                font-size: 20px;
                border-radius: 6px;
            }
        }
    }

}