.regioes {
    
    &__lista {

        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0 1em;

        

        li {
            text-align: center;
            padding: .5em 1em;
            font-family: var(--fonte-principal);
            color: var(--cor-texto);
            font-size: 30px;
            font-weight: 400;

        }

        li:hover {
            font-weight: 700;
        }

        .selecionado {
            color: var(--azul);
            font-weight: 700;
            
          }

        
    }
}

