.estado {

    h2, p {
        color: var(--cor-texto);
    }

    h2 {
        font-size: 35px;
    }

    &__sessao {      
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2em 10em 4em 10em;
        
        img {
            width: 450px;
            margin-right: 3em;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 40px -12px;
            border-radius: 10px;
        }
    }

    &__instituicoes {
            
        margin: 4em 10em 4em 10em;
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .5em 8em 1em 8em;
    }

    &__botao {
        margin: 1em 10em 0em 10em;
        padding: 0;

        button {
            width: 200px;
            height: 40px;
            font-size: 20px;
            border-radius: 6px;
        }
    }
}

@media screen and (max-width: 768px) {
    .estado {
    
        h2 {
            font-size: 24px;
        }
    
        &__sessao {      
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1em;
            
            img {
                width: 300px;
                margin-right: 0em;
            }
        }
    
        &__instituicoes {
                
            margin: 1em;
        }
    
        &__cards {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .5em 8em 1em 8em;
        }
    
        &__botao {
            margin: 1em 2em;
            padding: 0;
    
            button {
                width: 120px;
                height: 30px;
                font-size: 16px;
                border-radius: 6px;
            }
        }
    }
}
